html, body {
	margin: 0;
	padding: 0;
}

h1 span.glyphicon-comment {
	top: 5px;
}

.container-fluid {
	margin-top: 5px;
	width: 75%;
}

.validation-error {
	color: #FF0000;
}

.note-logo {
	height: 75px;
}

.note {
	border: 1px solid #ddd;
	padding: 8px;
	margin: 0 auto;
	margin-top: 14px;
	border-radius: 6px;
	width: 70%;
	background-color: #eee;
	min-height: 105px;
	-webkit-box-shadow: 0px 0px 3px 2px #ddd;
	-moz-box-shadow: 0px 0px 3px 2px #ddd;
	-ms-box-shadow: 0px 0px 3px 2px #ddd;
	-o-box-shadow: 0px 0px 3px 2px #ddd;
	box-shadow: 0px 0px 3px 2px #ddd;
}

.note .note-glyphicons {
	text-align: right;
	font-size: 1.2em;
	float: right;
}

.note .note-glyphicons .glyphicon {
	margin-right: 5px;
	cursor: pointer;
}

.note .note-id {
	font-size: 10px;
	float: right;
}

.note .note-title {
	font-size: 1.4em;
	font-weight: bold;
}

.note .note-text {
	margin-left: 10px;
	font-size: 1.1em;
}

.note .note-tags {
	padding: 3px;
    border-radius: 6px;
    border: 1px solid #CE3131;
    margin: 2px;
	color: white;
	background-color: #CE3131;
	cursor: pointer;
	margin-top: 5px;
}

.note .note-tags:hover, .note .note-tags:active, .note .note-tags:focus {
    border: 1px solid #AB0E0E;
	background-color: #AB0E0E;
}

.new-note-group {
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 6px;
	margin-top: 10px;
}

#note-list {
	margin-top: 30px;
}

footer {
	margin-top: 30px;
	border-top: 1px solid #ccc;
}

footer p {
	margin: 20px 20px 20px auto;
}

.text-right {
	text-align: right;
}

.top-buffer {
	margin-top: 20px;
}

span.login-link {
	margin-right: 10px;
}

span.login-link, span.register-link {
	text-decoration: underline;
	cursor: pointer
}

.divider {
	font-weight: bold;
}

#close-new-note {
	float: right;
	font-weight: bold;
	color: #FF0000;
	padding: 4px;
}

#close-new-note:hover {
	background-color: #FF0000;
	color: #FFF;
	border-radius: 6px;
	cursor: pointer;
}

@media (max-width: 800px) {
	.note {
		width: 100%;
	}
	
	.container-fluid {
		width: 90%;
	}
	
	div.mobile-text-left {
		text-align: initial;
		margin-top: 20px;
	}
}