<div class="options-order options-border">
	<h4 id="share-header">
		Enter the email of the user to share your notes with
		<span class="share_dropdown_span span_float_right glyphicon glyphicon-chevron-up">
		</span>
	</h4>
	<div id="share-div">
		<div class="form-group" id="share_notes">
			<label for="user_email">
				Enter users email address:
			</label>
                <input name="user_email" id="user_email" class="form-control" type="text" /> 
		</div>
		<button class="btn btn-success" id="share-button">
			<span class="glyphicon glyphicon-send"></span>
			Share notes
		</button>
	</div>
</div>
