<div class="options-border">
	<h4 id="theme-header">
		Tick the checkbox to use the dark theme
		<span class="theme_dropdown_span span_float_right glyphicon glyphicon-chevron-up">
		</span>
	</h4>
	<div id="theme-div">
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" value="title" id="theme_checkbox" /> Use the dark theme
				</label>
			</div>
		</div>
		<button class="btn btn-success" id="theme-button">
			<span class="glyphicon glyphicon-tint"></span>
			Change theme
		</button>
	</div>
</div>
