<div class="options-search options-border">
	<h4 id="search-header">
		Choose how the notes should be searched.
		<span class="search_dropdown_span glyphicon glyphicon-chevron-up">
		</span>
	</h4>
	<div id="search-div">
		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" value="title" id="search_title" /> Title
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="text"  id="search_text" /> Text
				</label>
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" value="text"  id="search_mark_done" /> Include notes marked as complete
				</label>
			</div>
		</div>
		<button class="btn btn-success" id="options-search-button">
			<span class="glyphicon glyphicon-search"></span>
			Change search
		</button>
	</div>
</div>
